.nav li a{
    margin-right: 1rem;
    padding: 10px 21px;
    background: #E0E0E0;
    border-radius: 14px;
    color: #606060;
}

.active{
    background: #606060!important;
    color:#E0E0E0!important;
}